* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.w-min-content {
  width: min-content ;
}

.w-max-content {
  width: max-content ;
}

.h-min-content {
  height: min-content ;
}

.h-max-content {
  height: max-content ;
}

.min-w-min-content {
  min-width: min-content ;
}

.minh-min-content {
  min-height: min-content ;
}

.top-5 {
  top: 5%;
}